#brasao{
    position: absolute;
    width: 71.95px;
    height: 100px;
    left: 124px;
    top: 13px;
}

#pucrs-logo{
    position: absolute;
    width: 113px;
    height: 24.67px;
    left: 103px;
    top: 123px;
}