body{
    position: relative;
    width: 232px;
    height: 570px;
    background: #023D68;
    font-family: 'Montserrat', sans-serif;
    background-repeat: no-repeat;
}

.graduacao-header{
    display: flex;
    flex-direction: row;
}

#graduacao-h1{
    position: absolute;
    top: 35px;
    left: 10px;
    width: 251px;
    height: 24px;
    font-size: 20px;
    color: white;
    font-weight: 400;
}

.vestibulando-img{
    position: sticky;
    margin-top: 8px;
    margin-left: 8px;
    width: 30px;
    height: 30px;
}


.vestibulando-img-fundo{
    position: absolute;
    left: 264px;
    top: 23px;
    width: 45px;
    height: 45px;
    background-color: white;
    border-radius: 100%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.curso-imagem-texto{
    font-size: 8px;
    line-height: 10px;
    color: white;
    background: #0065A3;
    border-radius: 2px;
    position: relative;
    top: 30px;
    left: 10px;
    z-index: 1;
    width: 54px;
    height: 10px;
}

.curso-imagem{
    position: relative;
    width: 277px;
    height: 120px;
    border-radius: 0 15px 15px 15px;
    top: 20px;
    left: 10px;
}

@media (min-width: 355px) and (max-width: 375px){
    .vestibulando-img-fundo{
        left: 320px;
        top: 18px;
    }
    .curso-imagem-texto{
        left: 40px;
    }
    .curso-imagem{
        left: 40px;
    }
}

@media (min-width: 380px) and (max-width: 425px){
    #graduacao-h1{
        width: 270px;
        font-size: 22px;
    }
    .vestibulando-img-fundo{
        left: 371px;
        top: 18px;
    }
    .curso-imagem-texto{
        left: 58px;
    }
    .curso-imagem{
        width: 290px;
        height: 125px;
        left: 57px;
    }
}