body{
    background: #023D68;
    font-family: 'Montserrat', sans-serif;
}

.graduacao-header{
    display: flex;
    flex-direction: row;
}

#graduacao-h1{
    width: 251px;
    height: 24px;
    font-size: 20px;
    color: white;
    font-weight: 400;
    margin-top: 36px;
}

.curso-imagem-texto{
    font-size: 8px;
    line-height: 10px;
    color: white;
    background: #0065A3;
    border-radius: 2px;
    width: 54px;
    height: 10px;
    position: relative;
    top: 60px;
    right: 111px;
}

.curso-imagem{
    width: 277px;
    height: 120px;
    border-radius: 0 15px 15px 15px;
}

.curso-fundo{
    background-color: white;
    border-radius: 0 0 20px 20px;
    width: 310px;
}

.text-1{
    color: white;
    font-size: 15px;
    width: 160px;  
    position: relative;
    top: 70px;
    right: 50px;
}

.text-2{
    font-size: 15px;
    line-height: 18px;
    color: rgba(255, 255, 255, 0.7);
    width: 166px;
    position: relative;
    right: 45px;
    top: 80px;
}

.curso-info{
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #013C67;
    display: flex;
}

.curso-info-ultimo{
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #013C67;
    display: flex;
    margin-bottom: 25px;
}

.curso-info-separa{
    margin-right: 75px;
    margin-left: 75px;
}

