body{
    position: relative;
    width: 232px;
    height: 570px;
    background: linear-gradient(180deg, #023D68 71.09%, rgba(21, 83, 127, 0.817316) 91.28%, rgba(26, 89, 134, 0.763889) 97.18%, rgba(38, 103, 149, 0.645833) 104.23%, rgba(105, 179, 232, 0) 107.66%);
    font-family: 'Montserrat', sans-serif;
}

/*Estilização diferente do brasão*/
#brasao{
    position: absolute;
    width: 71.95px;
    height: 100px;
    left: 124px;
    top: 90px;
}

#pucrs-logo{
    position: absolute;
    width: 113px;
    height: 24.67px;
    left: 103px;
    top: 200px;
}
/*Fim da estilização diferente do brasão*/
#campos-texto{
    position: absolute;
    width: 302px;
    height: 30px;
    left: 15px;
    top: 248px;
    color: white;
    font-size: 18px;
    line-height: 24px;
}


#escolha-texto{
    position: absolute;
    top: 272px;
    width: 291px;
    left: 25px;
    font-size: 11px;
    line-height: 14.52px;
    color: white;
}

.tipo-login{
    display: flex;
    flex-direction: row;
    position: relative;
    top: 334px;
}

.visitante-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 80px;
    height: 90px;
    background: rgba(0, 105, 180, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    position: relative;
    left: 55px;
}

.visitante-img{
    position: relative;
    left: 5px;
    top: 5px;
    width: 35px;
    height: 35px; 
}

.visitante-img-fundo{
    width: 45px;
    height: 45px;
    background-color: white;
    border-radius: 100%;
}

#visitante-h2{
    color: white;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}

.vestibulando-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 80px;
    height: 90px;
    background: rgba(89, 185, 217, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    position: relative;
    left: 103px;
}

.vestibulando-img{
    position: relative;
    left: 5px;
    top: 5px;
    width: 35px;
    height: 35px;
}

.vestibulando-img-fundo{
    width: 45px;
    height: 45px;
    background-color: white;
    border-radius: 100%;
}


#vestibulando-h2{
    color: white;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}