.curso_ges{
    background-color: white;
    position: absolute;
    left: 11px;
    top: 124px;
    bottom: 66px;
    width: 297px;
    height: 1171px;
    border-radius: 0 0 20px 20px;
}

.text-1{
    color: white;
    font-size: 15px;
    position: absolute;
    left: 16px;
    width: 161px;
    height: 79px;
    top: 50px;
}

.text-2{
    color: white;
    font-size: 15px;
    line-height: 18px;
    position: absolute;
    left: 16px;
    width: 167px;
    height: 79px;
    top: 78px;
}

.text-1_2{
    color: white;
    font-size: 15px;
    position: absolute;
    left: 16px;
    width: 215px;
    height: 79px;
    top: 214px;
}

.text-2_2{
    color: white;
    font-size: 15px;
    line-height: 18px;
    position: absolute;
    left: 16px;
    width: 167px;
    height: 79px;
    top: 242px;
}

.text-1_3{
    color: white;
    font-size: 15px;
    position: absolute;
    left: 16px;
    width: 160px;
    height: 79px;
    top: 380px;
}

.text-2_3{
    color: white;
    font-size: 15px;
    line-height: 18px;
    position: absolute;
    left: 16px;
    width: 167px;
    height: 79px;
    top: 408px;
}

.text-1_4{
    color: white;
    font-size: 15px;
    position: absolute;
    left: 16px;
    width: 161px;
    height: 79px;
    top: 546px;
}

.text-2_4{
    color: white;
    font-size: 15px;
    line-height: 18px;
    position: absolute;
    left: 16px;
    width: 167px;
    height: 79px;
    top: 588px;
}

.text-1_5{
    color: white;
    font-size: 15px;
    position: absolute;
    left: 16px;
    width: 160px;
    height: 79px;
    top: 703px;
}

.text-2_5{
    color: white;
    font-size: 15px;
    line-height: 18px;
    position: absolute;
    left: 16px;
    width: 167px;
    height: 79px;
    top: 745px;
}

.text-1_6{
    color: white;
    font-size: 15px;
    position: absolute;
    left: 16px;
    width: 160px;
    height: 79px;
    top: 875px;
}

.text-2_6{
    color: white;
    font-size: 15px;
    line-height: 18px;
    position: absolute;
    left: 16px;
    width: 167px;
    height: 79px;
    top: 903px;
}

.text-1_7{
    color: white;
    font-size: 15px;
    position: absolute;
    left: 16px;
    width: 160px;
    height: 79px;
    top: 1041px;
}

.text-2_7{
    color: white;
    font-size: 15px;
    line-height: 18px;
    position: absolute;
    left: 16px;
    width: 167px;
    height: 79px;
    top: 1069px;
}

.curso-info{
    color: #013B65;
    font-size: 15px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    position: relative;
    top: 7px;
    left: 2px;
    justify-content: space-around;
}

.curso-imagem-texto-2 {
    font-size: 8px;
    line-height: 10px;
    color: white;
    background: #0065A3;
    border-radius: 2px;
    position: relative;
    top: 30px;
    left: 10px;
    z-index: 1;
    width: 54px;
    height: 10px;
}

.curso-imagem-2{
    position: relative;
    width: 277px;
    height: 120px;
    border-radius: 0 15px 15px 15px;
    top: 20px;
    left: 10px;
    margin-bottom: 1rem;
}

.curso-info-2 {
    color: #013B65;
    font-size: 15px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    position: relative;
    top: 10px;
    left: 2px;
    justify-content: space-around;
}

@media (min-width: 355px) and (max-width: 375px){
    .curso_ges{
        width: 352px;
    }
    .curso-imagem-texto-2{
        left: 40px;
    }
    .curso-imagem-2{
        left: 40px;
    }
    .text-1{
        left: 44px;
    }
    .text-2{
        left: 44px;
    }
    .text-1_2{
        left: 44px;
    }
    .text-2_2{
        left: 44px;
    }
    .text-1_3{
        left: 44px;
    }
    .text-2_3{
        left: 44px;
    }
    .text-1_4{
        left: 44px;
    }
    .text-2_4{
        left: 44px;
    }
    .text-1_5{
        left: 44px;
    }
    .text-2_5{
        left: 44px;
    }
    .text-1_6{
        left: 44px;
    }
    .text-2_6{
        left: 44px;
    }
    .text-1_7{
        left: 44px;
    }
    .text-2_7{
        left: 44px;
    }
}

@media (min-width: 380px) and (max-width: 425px){
    .curso_ges{
        width: 403px;
        height: 1203px;
    }   
    .curso-imagem-texto-2{
        left: 58px;
    }
    .curso-imagem-2{
        width: 290px;
        height: 125px;
        left: 57px;
    }
    .text-1{
        left: 62px;
    }
    .text-2{
        left: 62px;
    }
    .text-1_2{
        top: 218px;
        left: 62px;
    }
    .text-2_2{
        top: 246px;
        left: 62px;
    }
    .text-1_3{
        top: 387px;
        left: 62px;
    }
    .text-2_3{
        top: 415px;
        left: 62px;
    }
    .text-1_4{
        top: 556px;
        left: 62px;
    }
    .text-2_4{
        top: 598px;
        left: 62px;
    }
    .text-1_5{
        top: 725px;
        left: 62px;
    }
    .text-2_5{
        top: 773px;
        left: 62px;
    }
    .text-1_6{
        top: 894px;
        left: 62px;
    }
    .text-2_6{
        top: 922px;
        left: 62px;
    }
    .text-1_7{
        top: 1064px;
        left: 62px;
    }
    .text-2_7{
        top: 1092px;
        left: 62px;
    }
    .curso-info{
        justify-content: space-evenly;
    }    
    .curso-info-2{
        justify-content: space-evenly;
    }   
}