.curso_neg{
    background-color: white;
    position: absolute;
    left: 11px;
    top: 124px;
    bottom: 66px;
    width: 297px;
    height: 911px;
    border-radius: 0 0 20px 20px;
}

.text-1_4-1{
    color: white;
    font-size: 15px;
    position: absolute;
    left: 16px;
    width: 161px;
    height: 79px;
    top: 546px;
}

.text-2_4-1{
    color: white;
    font-size: 15px;
    line-height: 18px;
    position: absolute;
    left: 16px;
    width: 167px;
    height: 79px;
    top: 574px;
}

.text-1_5-1{
    color: white;
    font-size: 15px;
    position: absolute;
    left: 16px;
    width: 160px;
    height: 79px;
    top: 710px;
}

.text-2_5-1{
    color: white;
    font-size: 15px;
    line-height: 18px;
    position: absolute;
    left: 16px;
    width: 167px;
    height: 79px;
    top: 738px;
}
