.curso_adm{
    background-color: white;
    position: absolute;
    left: 11px;
    top: 124px;
    bottom: 66px;
    width: 297px;
    border-radius: 0 0 20px 20px;
}

.text-1{
    color: white;
    font-size: 15px;
    position: absolute;
    left: 16px;
    width: 159px;
    height: 79px;
    top: 48px;
}

.text-2{
    color: white;
    font-size: 15px;
    line-height: 18px;
    position: absolute;
    left: 16px;
    width: 159px;
    height: 79px;
    bottom: 225px;
}

.text-1_2{
    color: white;
    font-size: 15px;
    position: absolute;
    left: 16px;
    width: 160px;
    height: 79px;
    top: 219px;
}

.text-2_2{
    color: white;
    font-size: 15px;
    line-height: 18px;
    position: absolute;
    left: 16px;
    width: 167px;
    height: 79px;
    bottom: 50px;
}

.curso-info{
    color: #013B65;
    font-size: 15px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    position: relative;
    top: 30px;
    left: 2px;
    justify-content: space-around;
}


.curso-imagem-texto-2{
    font-size: 8px;
    line-height: 10px;
    color: white;
    background: #0065A3;
    border-radius: 2px;
    position: relative;
    top: 50px;
    left: 10px;
    z-index: 1;
    width: 54px;
    height: 10px;
}


.curso-imagem-2{
    position: relative;
    width: 277px;
    height: 120px;
    border-radius: 0 15px 15px 15px;
    top: 40px;
    left: 10px;
    margin-bottom: 1rem;
}

.curso-info-2{
    color: #013B65;
    font-size: 15px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    position: relative;
    top: 33px;
    left: 2px;
    justify-content: space-around;
}

@media (min-width: 355px) and (max-width: 375px){
    .curso_adm{
        width: 352px;
    }
    .curso-imagem-texto-2{
        left: 40px;
    }
    .curso-imagem-2{
        left: 40px;
    }
    .text-1{
        left: 44px;
    }
    .text-2{
        left: 44px;
    }
    .text-1_2{
        left: 44px;
    }
    .text-2_2{
        left: 44px;
    }
}

@media (min-width: 380px) and (max-width: 425px){
    .curso_adm{
        width: 403px;
    }   
    .curso-imagem-texto-2{
        left: 58px;

    }
    .curso-imagem-2{
        width: 290px;
        height: 125px;
        left: 57px;
    }
    .text-1{
        left: 62px;
    }
    .text-2{
        left: 62px;
    }
    .text-1_2{
        left: 62px;
    }
    .text-2_2{
        left: 62px;
    }
    .curso-info{
        justify-content: space-evenly;
    }
    .curso-info-2{
        justify-content: space-evenly;
    }
}