.curso_fin_mark{
    background-color: white;
    position: absolute;
    left: 11px;
    top: 124px;
    bottom: 66px;
    width: 297px;
    height: 215px;
    border-radius: 0 0 20px 20px;
}

.text-1{
    color: white;
    font-size: 15px;
    position: absolute;
    left: 16px;
    width: 159px;
    height: 79px;
    top: 48px;
}

.text-2-1{
    color: white;
    font-size: 15px;
    line-height: 18px;
    position: absolute;
    left: 16px;
    width: 159px;
    height: 79px;
    bottom: 62px;
}

.curso-info{
    color: #013B65;
    font-size: 15px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    position: relative;
    top: 30px;
    left: 2px;
    justify-content: space-around;
}


@media (min-width: 355px) and (max-width: 375px){
    .curso_fin_mark{
        width: 352px;
    }
    .text-1{
        left: 44px;
    }
    .text-2-1{
        left: 44px;
    }
  
}

@media (min-width: 380px) and (max-width: 425px){
    .curso_fin_mark{
        width: 403px;
    }   
    .text-1{
        left: 62px;
    }
    .text-2-1{
        left: 62px;
    }
    .curso-info{
        justify-content: space-evenly;
    }    
}