body{
    position: relative;
    width: 232px;
    height: 570px;
    background: linear-gradient(180deg, #023D68 71.09%, rgba(21, 83, 127, 0.817316) 91.28%, rgba(26, 89, 134, 0.763889) 97.18%, rgba(38, 103, 149, 0.645833) 104.23%, rgba(105, 179, 232, 0) 107.66%);
    font-family: 'Montserrat', sans-serif;
    background-repeat: no-repeat;
}

#conta-visitante{
    color: white;
    font-size: 13px;
    line-height: 18px;
    position: relative;
    left: 84px;
    top: 173px;
}

.form-name input{
    position: relative;
    width: 212px;
    height: 48px;
    left: 46px;
    top: 204px;
    background: transparent;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    outline: none;
    padding: 0 10px;
    font-size: 20px;
    margin-bottom: 25px;
}

input[type="text"]{   
    color: white;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

.form-name label{
    position: absolute;
    top: 212px;
    left: 58px;
    color: white;
    font-weight: 400;
    text-transform: capitalize;
    font-size: 15px;
    padding: 0 10px;
    background-color: #023D68;
}


.form-email input{
    position: relative;
    width: 212px;
    height: 48px;
    left: 46px;
    top: 220px;
    background: transparent;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    outline: none;
    padding: 0 10px;
    font-size: 20px;
}

input[type="email"]{
    color: white;
    font-size: 14px;
}

.form-email label{
    position: absolute;
    top: 304px;
    left: 58px;
    color: white;
    font-weight: 400;
    text-transform: capitalize;
    font-size: 15px;
    padding: 0 10px;
    background-color: #023D68;
}

#botao-visitante{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 15px;
    line-height: 18.15px;
    position: relative;
    top: 255px;
    left: 185px;
    width: 94px;
    height: 27px;
    background-color: #0473B2;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media (min-width: 355px) and (max-width: 375px){
    #brasao{
        width: 87.95px;
        height: 109px;
        left: 143px;
    }

    #pucrs-logo{
        left: 131px;
        top: 128px;
    }

    #conta-visitante{
        font-size: 15px;
        left: 95px;
    }
    
    .form-name input{
        left: 70px;
    }

    .form-name label{
        left: 84px;
    }

    .form-email input{
        left: 70px;
    }

    .form-email label{
        left: 84px;
    }

    #botao-visitante{
        left: 210px;
    }
}

@media (min-width: 380px) and (max-width: 425px){
    #brasao{
        width: 87.95px;
        height: 109px;
        left: 165px;
    }

    #pucrs-logo{
        left: 154px;
        top: 128px;
    }

    #conta-visitante{
        font-size: 16px;
        left: 115px;
    }
    
    .form-name input{
        left: 94px;
    }

    .form-name label{
        left: 105px;
    }

    .form-email input{
        left: 94px;
    }

    .form-email label{
        left: 105px;
    }

    #botao-visitante{
        left: 233px;
    }

}